
<%# TODO @fzz this is the new url page :) %>

<div class="content">
	<div class="section section--alert">
		<% if flash[:error] %>
			<div class="alert alert-warning">
				<%= flash[:error] %>
			</div>
		<% end %>
	</div>
	<div class="logo">
		Let me 
		<img class="logo-img" src="<%= asset_path 'logo.png'%>" alt="logo" class="center-block"> 
		it for you!
	</div>
	<div class="section search-form">
		<form id='shortUrlForm' >
			<div class="search-input-box">
				<span>
					<label>Find:
						<input type="text" name="find_desc" class="search-field-left">
					</label>
				</span>
				<span>
					<label>Near:
						<input type="text" name="loc" class="search-field-right">
					</label>
				</span>
			</div>
			<button class="btn yelp-button">Yelp it</button>
		</form>
	</div>
	<div class="section show-short-url" id="shortURLSection">
		<label>Here is your link:
			<input 
				id='showShortUrl' 
				readonly="readonly" 
				onClick="this.select()"
			>
		</label>
		<a id="goButton" class="go-button btn btn-primary yelp-button" href="#">Go!</a>
	</div>

	<div id= "quote-element" class="quote">
		<img 
			src="<%= asset_path 'quotes2.png'%>" 
			alt="quote" 
			class="quote-bottom-image"
		>
	</div>	
	<div class="darwin">
		<img src="<%= asset_path 'darwin_create.png'%>" alt="darwin" class="darwin-bottom-image">
	</div>
</div>


<script>
	$(function() {
		var $shortUrlForm = $(shortUrlForm);
		var $showShortUrl = $(showShortUrl);
		var $goButton = $(goButton);
		var $shortURLSection = $(shortURLSection);
		yelpit.linkShortener.init($shortUrlForm, $showShortUrl, $goButton, $shortURLSection);
	});
</script>

<script type="text/javascript">
     var images = [
	    "<%= asset_path 'quotes.png'%>", 
 	    "<%= asset_path 'quotes2.png'%>"
     ];

    $(function() {
    	var quoteImg = $('.quote-bottom-image');
    	var interval = setInterval(function() {
    		var nextImage = images.shift();

    		quoteImg.attr('src', nextImage);

    		images.push(nextImage);
    	}, 1000);
    });
</script>