<%# @hwang this is the show url page :) %>

<!--
<script>
	$(function() {
		var $searchBar = $(searchBar);
		yelpit.animateSearchThing.init($searchBar);
	});
</script>
-->
<div id='background' style="background-image: url(<%= asset_url 'empty_home.png' %>);">
    <div style="height:100%">
        <input id="search_item">
        <input id="loc_item">
        <div id="mouse" class="cursor">
            <img 
                src="http://vignette4.wikia.nocookie.net/iwbtb/images/4/4c/Cursor.png/revision/latest?cb=20140813020030" 
                width="20" 
                height="20" 
                id="mouse_image">
        </div>
    </div>
</div>

<script type='text/javascript'>
    function getBackgroundSize() {
        var $background = $(background);
        return [$background.width(), $background.height()];
    }

    function animateClick() {
        var image = document.getElementById('mouse_image');
        image.src = "https://cdn0.iconfinder.com/data/icons/rcons-basic/16/cursor-512.png";
        console.log("<%= @link.redirect_url.to_s.html_safe %>");

        setTimeout(function() {
            image.src = "http://vignette4.wikia.nocookie.net/iwbtb/images/4/4c/Cursor.png/revision/latest?cb=20140813020030";
            setTimeout(function() {
                // window.location = "<%= @link.redirect_url.to_s.html_safe %>"
            }, 100);
        }, 200);
    }

    function moveMouseHorizontal(xDelta, wait, elements) {
        var mouseEl = document.getElementById('mouse');
        var leftright = function () {
            var x = parseInt(getComputedStyle(mouseEl).left);
            if (xDelta < 0) {
                --x;
                --x;
            } else if (xDelta > 0) {
                ++x;
                ++x;
            }
            
            return x;
        };

        var moveLots = function (i) {
            mouseEl.style.left = leftright() + "px";
            if (i < xDelta / 2) {
                setTimeout(function() {
                    moveLots(i + 1);
                }, wait);
            } else {
                console.log('done moving mouse')
                setTimeout(function() {
                    animateClick();
                }, 300);
            }
        }
        moveLots(0);
    }

    function typeSearch(elements, terms, restEle, restT) {
        console.log('typing search');
        var el = restEle[0];
        var term = restT[0];
        var searchItem = document.getElementById(el);

        function type(string, element) {
            (function writer(i) {
				if(string.length <= i++) {
	                element.value = string;
	                if (restEle.length > 1) {
	                    var remainEle = restEle.slice(1, restEle.length);
	                    var remainT = restT.slice(1, restT.length);
	                    setTimeout(function() {
	                        typeSearch(elements, terms, remainEle, remainT);
	                    }, 500);
	                } else {
	                    var backgroundSize = getBackgroundSize();
	                    var desiredMouseDest = .815;

	                    var mouseItem = document.getElementById('mouse');
	                    var mouseX = mouseItem.getBoundingClientRect().left;
	                    var desiredX = backgroundSize[0] * desiredMouseDest;

	                    amountToMove = Math.round(desiredX - mouseX)

	                    moveMouseHorizontal(amountToMove, 1, elements, terms)
	                }
	                searchItem.blur()
	                return
				}
				element.value = string.substring(0, i);
				if (element.value[element.value.length - 1] != " ") element.focus();
				setTimeout(function(){ 
					writer(i); 
				}, 100);
            })(0)
        }
        type(term, searchItem)
    }

    function moveVertical(amount, elements, terms) {
        var mouseEl = document.getElementById('mouse');

        var updown = function () {
            var y = parseInt(getComputedStyle(mouseEl).top);
            if (amount < 0) {
                --y;
                --y;
            } else {
                ++y;
                ++y;
            }
            return y;
        };

        var moveLots = function (i) {
            mouseEl.style.top = updown() + "px";
            if (i < Math.abs(amount)/2.0) {
                setTimeout(function() {
                    moveLots(i + 1);
                }, 3)   
            } else {
                console.log('done moving mouse')
                setTimeout(function() {
                    typeSearch(elements, terms, elements, terms);
                }, 500);
            }
        }
        
        moveLots(0);
    }

    $(function() {
        console.log( "ready!" );
        var elements = ['search_item', 'loc_item'];
        var terms = ["<%= @link.find_desc %>", "<%= @link.loc %>"];
 
        var backgroundSize = getBackgroundSize();
        var searchItemX = .26;
        var searchItemY = .022;
        var searchItemWidth = .23;
 
        searchItem = document.getElementById('search_item');
        searchItem.style.left = Math.round(searchItemX * backgroundSize[0]) + "px";
        searchItem.style.top = Math.round(searchItemY * backgroundSize[1]) + "px";
        searchItem.style.width = Math.round(searchItemWidth * backgroundSize[0]) + "px";
        searchItem.style.height = '25px';
 
        var locItemX = .55;
        var locItemY = .022;
        var locItemWidth = .23;
 
        locItem = document.getElementById('loc_item');
        locItem.style.left = Math.round(locItemX * backgroundSize[0]) + "px";
        locItem.style.top = Math.round(locItemY * backgroundSize[1]) + "px";
        locItem.style.width = Math.round(locItemWidth * backgroundSize[0]) + "px";
        locItem.style.height = '25px';
 
        var mouseItemY = .8;
 
        mouseItem = document.getElementById('mouse');
        mouseItem.style.left = Math.round(searchItemX * backgroundSize[0]) + "px";
        mouseItem.style.top = Math.round(mouseItemY * backgroundSize[1]) + "px";
 
        var mouseUpPx = Math.round(
            (mouseItemY * backgroundSize[1]) - (searchItemY * backgroundSize[1])
        ) * .96;
 
        setTimeout(function() {
            moveVertical(-mouseUpPx, elements, terms);
        }, 1000);
    });
</script>